In [2]:
import pandas as pd
#from google.colab import drive
#drive.mount("/content/drive")
data=pd.read_csv('./lecs_odom_larga.txt')
#data=pd.read_csv('drive/My Drive/datasets/lecturasconodometria.txt')

#data=data2
#data=data.iloc[:30000,:]

cols=['x','y','theta']
n_reads=data.shape[1]-3
n_reads
etiquetas=[]
for i in range (n_reads):
    etiquetas.append('R'+str(i))

        
for lab in cols:
    etiquetas.append(lab)
data.columns=etiquetas

data.describe()

,R0,R1,R2,R3,R4,R5,R6,R7,R8,R9,...,R762,R763,R764,R765,R766,R767,R768,x,y,theta
count,3648.000000,3655.000000,3621.000000,3618.000000,3644.000000,3623.000000,3622.000000,3611.000000,3615.000000,3628.000000,...,3774.000000,3771.000000,3772.000000,3770.000000,3781.000000,3871.000,3871.000,3871.000000,3871.000000,3871.000000
mean,1.555994,1.578313,1.551957,1.530441,1.536890,1.529202,1.515178,1.472690,1.489972,1.543477,...,1.419436,1.438827,1.429684,1.420648,1.330058,0.002,0.002,2.819504,0.415875,0.175391
std,1.252606,1.297397,1.274448,1.235307,1.202561,1.223448,1.225918,1.203661,1.217269,1.272994,...,1.255653,1.276310,1.249784,1.246099,1.229238,0.000,0.000,1.242968,1.368496,1.619021
min,0.006000,0.006000,0.006000,0.006000,0.006000,0.006000,0.006000,0.006000,0.006000,0.006000,...,0.006000,0.006000,0.006000,0.002000,0.002000,0.002,0.002,0.000000,-1.938736,-3.123360
25%,0.743000,0.735000,0.730000,0.722000,0.719000,0.713000,0.705250,0.686000,0.698500,0.704000,...,0.567000,0.580000,0.581000,0.583000,0.559000,0.002,0.002,1.638565,-0.508253,-0.813514
50%,1.226000,1.231000,1.231000,1.229000,1.240000,1.242000,1.244000,1.213000,1.223000,1.252000,...,0.935000,0.945000,0.942000,0.946000,0.929000,0.002,0.002,2.980090,0.147441,0.000236
75%,1.911000,1.936000,1.911000,1.905500,1.912250,1.901000,1.873000,1.821500,1.839500,1.877000,...,1.790250,1.783000,1.783000,1.784500,1.700000,0.002,0.002,3.877140,1.397805,1.760347
max,8.259000,8.256000,10.826000,10.826000,8.083000,10.835000,10.835000,9.437000,10.586000,8.111000,...,10.405000,10.608000,10.426000,10.516000,10.516000,0.002,0.002,4.579858,2.705292,3.141436